[Unit]
Description=Govinor platform
After=network.target

[Service]
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Type=simple
User=ubuntu
ExecStart=/bin/bash -c 'source /home/ubuntu/.nvm/nvm.sh && nvm use default && exec /home/ubuntu/govinor/service/start.sh'
Restart=on-failure

[Install]
WantedBy=multi-user.target

